:root {
	--black: #000000ff;
	--bistre: #2B1E16;
	--bole: #582f0e;
	--cafe-au-lait: #5D4A44;
	--misty-moss: #ffce00;
	--misty-moss2: #afa060ff;
	--header-height: 120px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html{
	height: 100%;
}

body{
	background-color: var(--cafe-au-lait);
	font-family: 'Helvetica', 'Arial', sans-serif;
	height: 100%;
}

h1{
	color: var(--bistre);
	font-weight: 800;
	font-size: 7.5em;
	
}

h2{
	color: var(--misty-moss);
	font-weight: bold;
	font-size: 3em;
	padding: 5px;
}

h3{
	color: var(--misty-moss);
	font-weight: bold;
	font-size: 1em;
	padding: 5px;
}
.whole_page{
	height: 100%;
}

.grid_portada{
	height: 100%;
	display: grid;
	
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-areas:
		"moda moda cine cine photo_dump photo_dump photo_dump sobre_mi"
		"moda moda cine cine galerias galerias galerias sobre_mi"
		"arte arte arte diseno_interiores diseno_interiores musica musica musica"
		"arte arte arte diseno_interiores diseno_interiores magazines magazines magazines"
	
	
}

.grid_portada_element{
	transition-duration: 0.4s;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
	border-radius: 5px;
	
}

.grid_portada_element_wrapper{
	position: static;
	width: calc(100% - 10px);
    height: calc(100% - 10px);
	transition-duration: 0.4s;
	background-size: cover; /* <-- background size */
  	background-position: center; /* <-- background position */
	border-radius: 5px;


	
}

.grid_portada_element_wrapper:hover{
	transform: scale(1.015);
}


.grid_portada_element .h2_wrapper{
	position: absolute;
	z-index: 100;
	
}

.centered{
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
  	position: relative;

}

input.centered{
	background-color: var(--bistre);
	background-image: linear-gradient(to top, rgba(105, 105, 105, 0.1), transparent);
	margin-top: 30px;
	height: 100px;
	width: 300px;
	border-style: solid;
	border-width: 5px;
	border-color: var(--bistre);
	border-radius: 5px;
	color: var(--misty-moss);
	font-weight: bold;
	font-size: 3em;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

input.centered:hover{
	background-color: var(--misty-moss);
	color: var(--bistre);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	height: 110px;
	width: 320px;
}

#menu_seleccionado{
	display: none;
	margin-top: 100px;
}

.header{
	background-color:var(--cafe-au-lait);
	z-index: 1000;
	position: sticky;
	height: var(--header-height);
	top: 0;
	width: 100%;
	outline: 3px #2B1E16 solid;
	margin-bottom: 3px;
}

.menu_categorias_wrapper{
	top: 123px;
	
	margin-left:15px;
	border-left: 3px #2B1E16 solid;
}

.menu_categorias{
	position: sticky;
	top: 123px;
	width: 100%;
}


.flexbox_body{
	display: flex;
	flex-direction: row;
	top: 123px;
}

.height100{
	height: 100%;
}

.flexbox_items{
	width: calc(100% - 300px);
	height: 100%;
	position: relative;
	outline: 3px #2B1E16 solid;
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.cine_item_wrapper{
	text-align: left;
	margin:20px;
	width: 450px;
    height: 300px;
}

.furniture_item_wrapper{
	margin:7px;
	width: 300px;
    	height: 300px;
}

.diseno_interiores_wrapper{
	justify-content: center;

	margin:7px;
	flex: 1;
	display:flex;
	
}

.furniture_item_wrapper {
	margin: 7px;
	width: 300px;
	height: 300px;
}
.diseno_interiores_wrapper h2{
	z-index: 100;
	position: absolute;
	bottom: 48vh;
	opacity: 0;
}
.diseno_interiores_wrapper:hover h2{
	opacity: 1;
	transition: 0.3s;
}
.item_wrapper{
	
	outline: 3px #2B1E16 solid;
	align-items: flex-start;
	
	transition-duration: 0.4s;
	background-size: cover; 
  	background-position: center; 
	border-radius: 5px;
	
}
.item{
	
	transition-duration: 0.4s;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.419), transparent);
	
}
.diseno_interiores_wrapper:hover .item{
	position: relative;
	transform: scale(0.90, 0.1);
}
.cine_item_wrapper:hover .item{
	height: 60px;
	
}
.item_wrapper:hover{
	transform: scale(1.015);
}

li h2{
	margin-right:20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

li {
	height: 100%;
	border-bottom: 3px #2B1E16 solid;
	
}
li:hover{
	background-color: #582f0e;
	transition: 0.5s;
}




.house{
	position: relative;
	width: calc(100% - 60px);
	height: calc(100% - 183px);
	border: 30px #2b1e16b0 solid;

}

#chair img{
	left: 3%;
	transform-origin: bottom left;
}



#table img{
	left: 20%;
	transform-origin: bottom center;
}

#accesory img{
	right: 5px;
	transform-origin: bottom center;
}

#lamp img{
	right: calc(50% - 200px);
	
	top:0px;
	transform-origin: top center;
}

#storage img{
	width: 500px;
	right: 25%;
	transform-origin: bottom center;
}
.house img{
	position:absolute;
	width: 400px;
	height: 400px;
	bottom: 0px;
	transition-duration: 0.4s;
	filter: invert(7%) sepia(9%) saturate(3566%) hue-rotate(339deg) brightness(95%) contrast(87%);
	
}
.house img:hover{
	transform: scale(1.1);
}

.house h2{
	font-size: 5em;
	opacity: 0;
	transition: opacity 0.5s;
	position:absolute;
} 
.libreria{
	display: flex;
	z-index: 10000;
	height: calc(100% - 100px);
	border: 50px #2b1e16b0 solid;
}
.magazine{
	z-index: 3;
	position:relative;
	width:150px;
	height:100%;
	transition-duration: 0.5s;
  }

  .magazine:hover{
	z-index: 10;
	transform: scale(1.115);
  }

.text_magazine{
	position:absolute;
	width: 1000px;
	bottom: 00px;
	left: 60px;
	color: black;
	font-family: 'Trebuchet MS', sans-serif;
	transform-origin: bottom left;

}
.logo_moco{
	z-index: 4;
	width: 110px;
	position:absolute;
	top: 83px;
	left: 45px;
	filter: brightness(0) saturate(100%);
	transform-origin: bottom left;
}

.logo_apartamento{
	transform-origin: center center;
	position:absolute;	
	height: 50px;
	bottom: calc(50% - 25px);
	left: -80px;
	filter: brightness(0) saturate(100%);
}

.last_mag{
	margin-left: 150px;
	margin-right: 150px;
	/* Safari */
	-webkit-transform: rotate(339deg);
	/* Firefox */
	-moz-transform: rotate(339deg);
	/* IE */
	-ms-transform: rotate(339deg);
	/* Opera */
	-o-transform: rotate(339deg);

}

.last_mag_container:hover .last_mag{
	transform: translateX(-150px) scale(1.115);
	
  }
.sideways{


	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);

}